services:
  app:
    build: .
    container_name: olx_bot_app
    environment:
      - TZ=Europe/Kiev
      - PYTHONPATH=/app/app
    env_file: 
      - ./.env
    command: python -m app.main
    depends_on:
      db:
        condition: service_healthy
    restart: always
  db:
    image: postgres:15-alpine
    container_name: olx_parser_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: olx_parser
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  adminer:
    image: adminer
    container_name: olx_parser_adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  postgres_data: